In [2]:
import pandas as pd
from wine_functions import concat_dataframes, fetch_wine_data, load_red_wine_data,\
    load_white_wine_data, add_color_feature, concat_dataframes, split_dataset
from sklearn.preprocessing import StandardScaler

# fetch_wine_data()

red_wine = load_red_wine_data()
white_wine = load_white_wine_data()
add_color_feature(red_wine, white_wine)
wine = concat_dataframes(red_wine, white_wine)

train, train_labels, test, test_lables = split_dataset(wine)

scaler = StandardScaler()

train_scaled = scaler.fit_transform(train)

In [3]:
train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,color
3123,6.6,0.21,0.49,18.15,0.042,41.0,158.0,0.99970,3.28,0.39,8.7,0
196,7.3,0.58,0.30,2.40,0.074,15.0,55.0,0.99680,3.46,0.59,10.2,1
1704,7.3,0.13,0.32,14.40,0.051,34.0,109.0,0.99740,3.20,0.35,9.2,0
3417,6.0,0.26,0.29,1.00,0.032,27.0,96.0,0.98960,3.38,0.44,12.3,0
4422,7.6,0.27,0.34,5.00,0.040,18.0,56.0,0.99084,3.06,0.48,12.4,0

In [2]:
# scale data, then do classification with a few columns
# use silhouette score to find best number of clusters for these columns
# check that these are tight clusters (visualization? better metric?)
# ^pipeline or functions or something to easily do a few groups of columns

In [ ]:
from sklearn.cluster import KMeans